/* -------------------------------------------------------------------- */
/* ------------------------------APROPOS------------------------------- */
/* -------------------------------------------------------------------- */
.aboutBanner {
  height: 223px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.bannerAbout {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  filter: brightness(70%);
  object-fit: cover;
}
