.container_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.container_tittle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-weight: 500;
  color: #ff6060;
}
.container_tittle h2 {
  font-size: 36px;
}
.container_tittle span {
  font-size: 18px;
}
.liste {
  display: flex;
  margin-top: 20px;
}
.list {
  margin-top: 20px;
}
.list .spanList {
  color: white;
  background-color: #ff6060;
  padding: 0px 20px 0px 20px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  margin-right: 10px;
}
.container_hostRating {
  display: flex;
  flex-direction: column;
  color: #ff6060;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
}
.container_hostRating p {
  width: min-content;
  margin-right: 10px;
}
.host {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.host img {
  border-radius: 100px;
  width: 64px;
  height: 64px;
}

/* --------------------accordion fiche logement---------------------------------- */
.accordionFiche {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.accordionContainer {
  width: 48%;
  max-width: 582px;
}
.accordionFiche .accordion-item {
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}
.accordionFiche .accordion-title {
  width: 100%;
  padding: 13px 20px;
  font-size: 18px;
  font-weight: 500;
}
.accordionFiche li {
  list-style-type: none;
}

@media screen and (max-width: 1240px) {
  .container_tittle h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 480px) {
  .container_info {
    display: flex;
    flex-direction: column;
  }
  .container_info {
    display: flex;
    flex-direction: column;
  }
  .container_hostRating {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
} ;
