@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');


body{
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-family: Montserrat, arial;
}

/* --------------------------------------------------------------------- */
/* ----------------------HEADER ---------------------------------------- */
/* --------------------------------------------------------------------- */
#header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 43px;
}
#header img{
    height: 68px;
}
#header nav{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
display: flex;
align-items: center;
color: #FF6060;
}
#header ul{
    display: flex;
}
#header li{   
    margin-left: 20px;
    list-style-type: none;
}
#header li :active {
    text-decoration-line: underline;
    color: #FF6060;
}
#header nav a {
    text-decoration: none;
    color: #FF6060;
}
#header nav a :hover {
    text-decoration-line: underline;
    color: #FF6060;
}
/* --------------------------------------------------------------------- */
/* ------------------------BANNER--------------------------------------- */
/* --------------------------------------------------------------------- */
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 223px;
    top: 171px;
    background: url("../assets/images/banner.png") center center;
    border-radius: 25px;
    mix-blend-mode : darken
}
#banner img{
    z-index: 2;
    filter: brightness(50%);
}
#banner h2{
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: 500;
}